<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gavai NAUJĄ pranešimą!</h1>
    <p>
      <u>Siuntėjo vardas:</u><br>
      <%= @name %><br>
      <u>El. paštas:</u><br>
      <%= @email %>
    </p>
    <p>
      <u>Žinutė:</u><br>
      <%= @text %>
    </p>
  </body>
</html>