<header>
	<div class="container-fluid">
		<%= image_tag "foto.jpg", :alt => "mano foto", :class => "img-circle" %>
		<h1>
			<%= @owner.first_name %>
			<%= @owner.last_name %>
		</h1>
		<h4><%= @owner.title %></h4>
	</div>
</header>
