<footer>
    <div class="social-section">
        <ul>
            <li><a href="https://www.linkedin.com/in/viktorija-šukvietytė-74399975"><i class="fa fa-linkedin fa-2x"> </i></a></li>
            <li><a href="http://www.github.com/VikViku"><i class="fa fa-github fa-2x"> </i></a></li>
        	<li><a href="http://www.facebook.com/VikVikfoto"><i class="fa fa-facebook fa-2x"></i></a></li>
        	<!-- <li><a href="http://www.instagram.com/VikViku"><i class="fa fa-instagram fa-2x"></i></a></li> -->
         </ul>
    </div>
    <p>© Web Jeweler Studio, <%= DateTime.now.year %></a></p>
	<!-- <#<#= link_to "Admin panel", rails_admin_path %>%> -->
</footer>
