<!DOCTYPE html>
<html>
  <head>
    <title>Admin dashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'dashboard' %>
    <%= javascript_include_tag 'dashboard' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
